<ServiceWizard as |w|>
  {{#each w.steps as |stepTitle|}}
    <div class="">
      <h4>{{stepTitle.name}}</h4>
    </div>
  {{/each}}

  <w.Step @context="1" as |step|>
    <h1>Step a</h1>
    <button
      type="button"
      name="button"
      {{on "click" (fn step.nextStep)}}
    >
      Next
    </button>
  </w.Step>

  <w.Step as |step|>
    <h1>Step b</h1>
    <button
      type="button"
      name="button"
      {{on "click" (fn (mut this.isStepVisible) true)}}
    >
      Show step C
    </button>

    <button
      type="button"
      name="button"
      {{on "click" (fn (mut this.isStepVisible) false)}}
    >
      Hide step C
    </button>

    <button
      type="button"
      name="button"
      {{on "click" (fn step.nextStep)}}
    >
      Next
    </button>
  </w.Step>

  <w.Step @isVisible={{this.isStepVisible}} as |step|>
    <h1>Step c</h1>
    <button
      type="button"
      name="button"
      {{on "click" (fn step.nextStep)}}
    >
      Next
    </button>
  </w.Step>

  <w.Step as |step|>
    <h1>Step d</h1>
    <button
      type="button"
      name="button"
      {{on "click" (fn step.nextStep)}}
    >
      Next
    </button>
  </w.Step>
</ServiceWizard>

{{outlet}}
